header{
    background-color: black;
    height: 300px;
}
.container{
    background-color: #bbbbbb;
}

#banner{
    width: 100%;
}

.caixa{
    width: 940px;
    margin:0 auto;
    position: relative;
    background-color: #bbbbbb;

}
.principal{
    background-color: #cccccc;
    padding: 20px;    
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;

}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.titulo-principal{
    text-align: center;
    padding-left: 20px;
    padding: 30px;
    background-color: black;
    color: antiquewhite;


}

.titulo-centralizado{
    text-align: center;
}

p{
    text-align: center;
}

#missao{
    font-size: 20px;

}

em strong{
    color: #ff0000;
}

.itens{
    font-style: italic;
}

.beneficios{
    background-color: #ffffff;
    padding: 20px;
}

.imagembeneficios{
    width: 50%;
    
}

.lista-itens {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}